@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    background-color: #aaaaaa;
    font-family: 'roboto', sans-serif, fantasy;
}
#container{
    background-color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: #00009a;
    color: white;
    margin: 0;
    padding: 0;
}
#main{
    padding: inherit;
    width: 900px;
    float: right;
}
#settings{
    width: 200px;
    float: left;
}
#content{
    padding: 10px;
}
#footer{
    clear: both;
}
td select{
    width: 100%;
}