/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*General*/
body{
	background-color: #fafafa;
	font-family: "Roboto", monospace, arial;
    font-weight: normal;
    color: #263238;
    margin: 0;
    font-size: 15px;
}

.page{
    position: absolute;
    margin-top: 50px;
    width: auto;
    transition: margin-left 0.3s;
}
.content{
    padding: 20px;
}

.notSelectable{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Settings Bar Styles*/
.settingBar{
	width: auto;
    height: 100%;
    transform: translateX(-100%);
	background: white;
    line-height: 25px;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top: 64px;
}
.settingContent{
    padding: 10px;
}
.settingBar input[type="submit"]{
    width: 100%;
}
#settingsTitle{
	
	margin: 0px;
	
}

/*Form Styles*/
select{
    display: block;
    border-bottom: 2px solid #bbb;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 36px;
    content: "\25BC";
    transition: 0.5s ease;
    background: transparent;
    min-width: 112px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/arrow_drop_down_grey_24x24.png) no-repeat 96% 0;
}
select:focus{
    border-bottom: 2px solid var(--primary);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    content: "\25BC";
}
select:hover{
    border-bottom: 2px solid #3949ab;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

input[type="checkbox"]{
    -moz-appearance: none;
	-webkit-appearance: none;
    outline: 0;
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    transition: 0.2s ease-out;
}
input[type="checkbox"]:checked{
    background-color: #3949ab;
    border: 2px solid #3949ab;
    border-radius: 2px;
}
input[type="checkbox"]:hover{
    border: 2px solid #6f74dd;
    border-radius: 2px;
}
input[type="checkbox"]:checked:hover{
    border: 2px solid #3949ab;
    border-radius: 2px;
}
	input[type="checkbox"]:checked:after{
	content: url(../img/check_white_18x18.png);
	font-size: 14px;
	position: relative;
	top: -1px;
	left: -1px;
	color: #fafafa;
}

input[type="number"]{
    display: block;
    border-bottom: 2px solid #bbb;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    height: 36px;
    content: "\25BC";
    transition: 0.5s ease;
    background: transparent;
    min-width: 112px;
}
input[type="number"]:not(:disabled):focus{
    border-bottom: 2px solid #3949ab;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    content: "\25BC";
}
input[type="number"]:not(:disabled):hover{
    border-bottom: 2px solid #3949ab;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
input[type="number"]:disabled{
    border-bottom: 2px solid #ddd;
}

option{
    height: 24px;
    padding: 0 0 0 24px;
    -moz-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
input[type="number"].mpinput{
    border-bottom: 2px solid red;
}
input[type="number"].pinput{
    border-bottom: 2px solid green;
}

/*table styles*/
td select{
    width: 100%;
}
td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
    /*vertical-align: top;*/
}
td input{
    width: 120px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.eaLabel{
    color: #6f74dd;
}

/*Button Styles*/
button, input[type=submit]{
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    background-color: #455a64;
    color: white;
    text-align: center;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    min-width: 64px;
    padding: 0 16px;
    margin-top: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    transition: .3s;
}
button:hover, input[type=submit]:hover{
    cursor: pointer;
    background-color: #718792;
    transition: .3s ease-out;
}
button:active, input[type=submit]:active{
    cursor: pointer;
    background-color: #1c313a;
    transition: .3s ease-out;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

/*Navigation bar style*/
nav{
    transition: margin-left 0.3s;
    height: 64px;
    position: fixed;
    color: white;
    width: 100%;
    display: block;
    box-sizing: inherit;
    background-color: #3949ab;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 2px 6px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin-left: 0px;
    z-index: 3;
}
.navBar{
    height: 100%;
    box-sizing: inherit;
}
.rotator{
    transition: transform 0.3s ease-in-out;
}
.openSettings{
    line-height: 64px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    color: #fafafa;
    transition: color 0.1s ease-in;
}
.openSettings:active{
    color: #c7c7c7;
}
.logo{
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    padding-left: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    line-height: 64px;
}
.navBarItems{
    padding-left: 0;
    list-style-type: none;
    float: right;
    margin: 0;
    line-height: 64px;
    background-color: rgba(0,0,0,0.1);
    box-sizing: inherit;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navBarItems a{
    padding: 0 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.overlay{
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0);
    transition: 0.3s;
}

/*CardView Style*/
.cardView{
    width: 425px;
    display: block;
    height: auto;
    margin: 0 5px 0 5px;
    background-color: #455a64;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.cardBody{
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 0 2px 2px;
}
.cardTitle{
    display: block;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
}
.cardView.noActions .cardBody{
    padding-bottom: 20px;
}
.cardActions{
    border-radius: 0 0 2px 2px;
    position: relative;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 20px;
    color: #ffa000;
}
.cardActions span{
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.cardActions span:hover{
    color: #ffc149;
}
.cardActions span:active{
    color: #c67100;
}
