@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	background: lightgoldenrodyellow;
	font-family: 'roboto', monospace, arial;
}

#settingBar{
	width: 100%;
	background: lightgray;
	margin: 0px;
	padding: 10px;
}
#settingsTitle{
	
	margin: 0px;
	
}
td input{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
select{
    display: block;
}
.mpinput{
    border: 1px blue solid;
}
.pinput{
    border: 1px green solid;
}
#settingBar td select{
    width: 100%;
}