/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*General*/
body{
	background-color: #fafafa;
	font-family: 'roboto', monospace, arial;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
}

.page{
    width: 100%;
    transition: margin-left 0.3s;
}
.content{
    padding: 20px;
}

/*Settings Bar Styles*/
.settingBar{
	width: auto;
    height: 100%;
    transform: translateX(-100%);
	background: white;
    line-height: 25px;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.3s;
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top: 64px;
}
.settingContent{
    padding: 10px;
}
#settingsTitle{
	
	margin: 0px;
	
}

/*Form Styles*/
select{
    display: block;
}
.mpinput{
    border: 1px blue solid;
}
.pinput{
    border: 1px green solid;
}

/*table styles*/
td select{
    width: 100%;
}
td input{
    width: 120px;
}
td{
    padding: 3px;
}
td input{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Button Styles*/
button, input[type=submit]{
    background-color: #868686;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    height: 25px;
    line-height: 25px;
    padding: 0 1rem;
    margin-top: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    transition: .3s;
}
button:hover, input[type=submit]:hover{
    cursor: pointer;
    background-color: #aaa;
    transition: .3s ease-out;
}
button:active, input[type=submit]:active{
    cursor: pointer;
    background-color: #bbb;
    transition: .3s ease-out;
}

/*Navigation bar style*/
nav{
    transition: margin-left 0.3s;
    height: 64px;
    color: white;
    width: auto;
    display: block;
    box-sizing: inherit;
    background-color: #1a237e;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin-left: 0px;
    z-index: 3;
}
.navBar{
    position: relative;
    height: 100%;
    box-sizing: inherit;
}
.rotator{
    transition: transform 0.3s ease-in-out;
}
.openSettings{
    line-height: 64px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    transition: color 0.1s ease-in;
}
.openSettings:active{
    color: grey;
}
.logo{
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    padding-left: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    line-height: 64px;
}
.navBarItems{
    padding-left: 0;
    list-style-type: none;
    float: right;
    margin: 0;
    line-height: 64px;
    background-color: rgba(0,0,0,0.1);
    box-sizing: inherit;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navBarItems a{
    padding: 0 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}
.overlay{
    width: 100%;
    height: 100%;
    float: right;
    display: none;
    z-index: 1;
    position: fixed;
    transition: 0.3s;
}