@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	background: lightgoldenrodyellow;
	font-family: 'roboto', monospace, arial;
    margin: 0;
}

#settingBar{
	width: auto;
	background: lightgray;
	border: none;
    border-radius: 2px;
    line-height: 25px;
	padding: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
#settingsTitle{
	
	margin: 0px;
	
}
td input{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
select{
    display: block;
}
.mpinput{
    border: 1px blue solid;
}
.pinput{
    border: 1px green solid;
}
td select{
    width: 100%;
}
td input{
    width: 120px;
}
td{
    padding: 3px;
}
button, input[type=submit]{
    background-color: #868686;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    border: none;
    border-radius: 2px;
    height: 25px;
    line-height: 25px;
    padding: 0 1rem;
    margin-top: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    transition: .3s;
}
button:hover, input[type=submit]:hover{
    cursor: pointer;
    background-color: #aaa;
    transition: .3s ease-out;
}
button:active, input[type=submit]:active{
    cursor: pointer;
    background-color: #bbb;
    transition: .3s ease-out;
}
nav{
    height: 64px;
    color: white;
    width: 100%;
    display: block;
    box-sizing: inherit;
    background-color: #1a237e;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.navBar{
    position: relative;
    height: 100%;
    box-sizing: inherit;
    
}
.logo{
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    line-height: 64px;
}
.navBarItems{
    padding-left: 0;
    list-style-type: none;
    float: right;
    margin: 0;
    line-height: 64px;
    background-color: rgba(0,0,0,0.1);
    box-sizing: inherit;
    color: white;
    text-decoration: none;
    text-align: center;
}
.navBarItems a{
    padding: 0 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
}